.views-quick-table-wrapper
{
	
}

.views_table_main
{
	background:#777;
	width:100%; 
	height:20px; 
	padding:5px 0px;
}

.views_table_main .left
{
	width:45%; 
	float:left; 
	color:#FFF; 
	padding-left:5px;
}

.views_table_main .right
{
	width:45%;
	color:#FFF;
	float:left;
}

.view-name-left
{
	width:100%; height:20px; padding:5px 0px;
}

.view-links-main
{
	width:100%; height:20px; padding:5px 0px;
}

.view-links-main .left
{
	width:45%; float:left; padding-left:5px;
}

.view-links-main .right
{
	width:45%; 
	float:left;
}
